slid{
background-repeat:no-repeat;
}
.swiper {
    width: 100%;
    height: 390px;
    position: relative;
    border-radius: 10px;

    
  }


  .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 350px;
    background: #fff;
    border-radius: 10px;

    

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: inline-block;
    width: 620px;
    height: 350px;
    object-fit: contain;
    margin-right: 150px;
    border-radius: 10px;
    
  } 
  .swiper-slide img:hover{
    animation: pulsate 1s ease-in-out;

  }

  .swiper-slide p{
    position: absolute;
    display: flex;
    height: 250px;
    width: 170px;
    top: calc(50% - 10);
    right: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    border: 3px solid #FF1654;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    
  }

  .swiper-slide p:hover{
    animation: pulsate 1s ease-in-out;
    box-shadow: 2px 2px #BCCEF8;
  }
  @keyframes pulsate{
    0%{
        box-shadow: 
        0 0 10px #CDFCF6,
        0 0 20px #BCCEF8;
    }
  }



  div.chap>div:nth-of-type(2){
    height: 115px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    
  }
  div.chap>div:nth-of-type(2)>div{
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  div.chap>div:nth-of-type(2) img{
    width: 45px;
    height: 45px;
  }
  div.chap>div:nth-of-type(2) p {
    font-size: 14px;
  }
  div.chap>div:nth-of-type(3){
    height: 385px;
    margin-top: 10px;
    background-color: white;
    padding-top: 40px ;
    padding-right: 30px;
    border-radius: 10px;
    position: relative;
    font-size: 13px;

  }
  
